<style>
.carousel-control {
  margin-top: 0;
  padding-top: 100px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  width: 7%;
}
.slides {
  margin-bottom: 0px;
  min-height: 400px;
  max-height: 450px;
  padding: 5px 80px 5px 80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  font-size: 24px;
}
.normal-text {
  font-size: 20px;
  color: black;
  text-shadow: black 0em 0em 0em;
}
.slide-1 {
  background-image: url('<%= image_path("pile-of-circuit-boards.jpg") %> ');
  background-position: 0% 40%;
}

.slide-2 {
  background-image: url('<%= image_path("pile-of-circuit-boards2.jpg") %> ');
  background-position: 0% 40%;
}
.slide-3 {
  background-image: url('<%= image_path("hd.jpeg") %> ');
  background-position: 0% 20%;
}

.jumbotron:hover {
  background-color:#000;
  opacity:1;
  border-radius:5px;
}

.jumbotron_link {
  color: #C0E93F;
  text-decoration: underline;
}
.jumbotron_link:hover {
  color: white;
  text-decoration: underline;
}

.div-right {
  margin-top: -32px;
  margin-right: 15px;
  font-size: 16px;
  float: right;
  width: 534px;
  border-radius: 8px;
  background: rgba(12, 39, 1, 0.75);
  padding: 5px 5px 0px 10px;
  text-shadow: black 0.0em 0.0em 0.0em;
}
</style>
<div id="myCarousel" class="carousel slide">
   <!-- Carousel indicators -->
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
   </ol>   
   <!-- Carousel items -->
   <div class="carousel-inner">
      <div class="item active slides slide-1">
        <h2 style="margin-left: 20px;"><%= site_name_short %></h2>
        <div class="div-right">
          <h3>More than just computers</h3>
          <p>We take almost everything electronic with a very short list of items we cannot accept: 
          <ul><li>major household appliances,</li><li>air conditioners</li> <li>dehumidifiers</li><li>microwave ovens</li>
          <li>copiers</li></ul>We are also not able to reycle large amounts of plastic (like VCR tapes and floppy disks). Please contact us via email or at 503-449-8357 for more details.</p>
        </div>
      <!-- <p><a class="btn btn-primary btn-lg" role="button" style="margin-top: 221px;">Learn more &raquo;</a></p> -->
         <!-- <div class="carousel-caption">This Caption 1</div> -->
      </div>
      <div class="item slides slide-2">
      <!-- <span class="glyphicon-class glyphicon glyphicon glyphicon-refresh"></span> -->
        <h2 style="margin-left: 20px;"><%= site_name_short %></h2>
        <div class="div-right" style="margin-top: 10px">
          <h2>Let your used technology help others</h2>
          <p>A portion of refurbished computers are donated to local charities.</p>
          <p>If you are a local area student you can earn a free computer from <%= site_name_short %> by volunteering 16 hours of your time with us or another local charity.</p><br><br>
          <p><a href="<%= involve_path %>" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
      <div class="item slides slide-3">
        <h2 style="margin-left: 20px;"><%= site_name_short %></h2>
        <div class="div-right" style="margin-top: 10px">
          <h2>Your Personal Data Is Safe</h2>
          <p><%= site_name_bold %> has a secure facility where computers are disassembled and processed for recycling. Computers have thier hard drives wiped to the <a href="http://en.wikipedia.org/wiki/National_Industrial_Security_Program">Department of Defense DOD 5220.22-M</a> standards.</p>
          <p>You can feel confident that your data will not fall into the wrong hands.</p>
          <br>
          <%= link_to "Learn more &raquo;".html_safe, secure_path, class: "btn btn-primary btn-lg" %></p>
        </div>
      </div>
   </div>
   <!-- Carousel nav -->
   <a class="carousel-control left" href="#myCarousel" 
      data-slide="prev">&lsaquo;</a>
   <a class="carousel-control right" href="#myCarousel" 
      data-slide="next">&rsaquo;</a>
</div>
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Reuse Over Recycle</h2>
      <p>We believe computer recycling should be about keeping the item alive as long as possible. This is why we re-use and refurbish most of the computer related items we get; unlike other recyclers who destroy all items working or not. We make sure to refurbish and save.</p>
      <p>We practice safe and efficient recycling. All items are handled in a safe manner at the lowest impact to the environment. Our goal is to reuse all items and extend the life as long as possible to provide a viable alternative to e-waste in our landfills.</p>
      <p><%= link_to "View Details &raquo;".html_safe, reuse_path, class: "btn btn-default" %></p>
    </div>
    <div class="col-md-4">
      <h2>Get Involved</h2>
      <p><%= site_name_bold %> has many programs designed to get computers into the hands of those that need them. From our <em>"Earn a computer in just 16 hours program"</em> to our <em>"Learn to build your own computer program"</em>.</p>
      <p>Get involved, learn more about computers, and you can come away with a computer you know inside and out.</p>
      <p><%= link_to "View Details &raquo;".html_safe, involve_path, class: "btn btn-default" %></p>
   </div>
    <div class="col-md-4">
      <h2>Data Security</h2>
      <p>We know how important your personal information is and take the security of your data seriously. We ensure any data-containing items we receive are either wiped clean using Department of Defense standards, or physically destroyed on-site. <a href="">Learn more</a> about our data destruction process.</p>
      <p><%= link_to "View Details &raquo;".html_safe, secure_path, class: "btn btn-default" %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Residential and Commercial Recycling</h2>
      <p>We offer FREE electronics recycling to individuals and businesses. You can drop off your electronics to our facility FREE of charge. We also offer our pick-up service for a $45 fee (prices may vary).</p>
      <center><h4>Items We Accept:</h4></center>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td valign="top" width="173">
            <ul class="green_txt">
              <li class="recycle_bullets">Computers</li>
              <li class="recycle_bullets">Laptops</li>
              <li class="recycle_bullets">Monitors (CRT, LCD)</li>
              <li class="recycle_bullets">Printers / Scanners</li>
              <li class="recycle_bullets">Fax / Copy</li>
              <li class="recycle_bullets">Keyboards / Mice</li>
            </ul>
            </td>
            <td valign="top" width="246">
            <ul class="green_txt">
              <li class="recycle_bullets">Servers /Routers /Hubs</li>
              <li class="recycle_bullets">Networking Devices</li>
              <li class="recycle_bullets">Communications Equipment</li>
              <li class="recycle_bullets">Televisions</li>
              <li class="recycle_bullets">VCRs, DVD players</li>
              <li class="recycle_bullets">Stereos &amp; Audio Components</li>
            </ul>
            </td>
            <td valign="top" width="206">
            <ul class="green_txt">
              <li class="recycle_bullets">Cell phones / Telephones</li>
              <li class="recycle_bullets">PDAs, Handheld Games</li>
              <li class="recycle_bullets">Cameras</li>
              <li class="recycle_bullets">Misc. Electronics</li>
              <li class="recycle_bullets">Misc. Office Machines</li>
              <li class="recycle_bullets">Ink Cartridges</li>
            </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <h2>Location</h2>
      <address>
        <h4><u>Mailing Address:</u></h4>
        <%= site_name_bold %><br>
        <span style="font-size: 12px">10117 SE Sunnyside Rd<br>
        Suite F1245<br>
        Clackamas, OR 97015<br>
        503.449.8357</span>
        <h4><u>Warehouse/Lab:</u></h4>
        <%= site_name_bold %><br>
        <span style="font-size: 12px">4998 SE Briar Court<br>
        Milwaukie, OR 97267<br>
        503.449.8357</span>
      </address>
    </div>

</div>