<% provide(:title, 'Terms of Use') %>
<h1>Terms of Use</h1>

<h4>AGREEMENT BETWEEN USER AND <%= site_name_short %></h4>

<p>The <%= site_name_short %> Web Site is comprised of various Web pages operated by <%= site_name_short %>.</p>

<p>The <%= site_name_short %> Web Site is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein. Your use of the <%= site_name_short %> Web Site constitutes your agreement to all such terms, conditions, and notices.</p>

<h4>MODIFICATION OF THESE TERMS OF USE</h4>

<p><%= site_name_short %> reserves the right to change the terms, conditions, and notices under which the <%= site_name_short %> Web Site is offered, including but not limited to the charges associated with the use of the <%= site_name_short %> Web Site.</p>

<h4>LINKS TO THIRD PARTY SITES</h4>

<p>The <%= site_name_short %> Web Site may contain links to other Web Sites ("Linked Sites"). The Linked Sites are not under the control of <%= site_name_short %> and <%= site_name_short %> is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. <%= site_name_short %> is not responsible for webcasting or any other form of transmission received from any Linked Site. <%= site_name_short %> is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by <%= site_name_short %> of the site or any association with its operators.</p>

<h4>NO UNLAWFUL OR PROHIBITED USE</h4>

<p>As a condition of your use of the <%= site_name_short %> Web Site, you warrant to <%= site_name_short %> that you will not use the <%= site_name_short %> Web Site for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the <%= site_name_short %> Web Site in any manner which could damage, disable, overburden, or impair the <%= site_name_short %> Web Site or interfere with any other party's use and enjoyment of the <%= site_name_short %> Web Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the <%= site_name_short %> Web Sites.</p>